<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Emoji Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <div *ngIf="selectedItem" class="selection">
  
   <img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwi5jq7wwbXOAhWEopQKHSNoABwQjRwIBA&url=http%3A%2F%2Fingridwu.dmmdmcfatter.com%2Ftypography%2Fplaceholder-text-and-images%2F&psig=AFQjCNE18BIl3a_7iW5n8pu3EEHAY-IB7Q&ust=1470872685037017"/>
    <b>{{selectedItem.title}}</b>
    <ion-icon name="{{selectedItem.icon}}"></ion-icon>
    <div>
      You navigated here from <b>{{selectedItem.title}}</b>
    </div>
  </div>
</ion-content>
